{% extends "base.html" %}

{% block content %}
<h1>{{ section.title }}</h1>

{{ section.content | safe }}

{% if paginator %}
{% set pages = paginator.pages %}
{% else %}
{% set pages = section.pages %}
{% endif %}

<ul class="title-list">
    {% for page in pages %}
    <li>
        <a href="{{ page.permalink | safe }}">{% if page.date %}{{ page.date }} - {% endif %}{{ page.title }}</a>
    </li>
    {% endfor %}
    <li><a href="https://karthik-d-k.github.io/fastblog/julia/linear%20regression/2022/05/08/Linear_Regression_from_scratch_in_Julia.html" target="_blank" rel="noopener noreferrer">2022-05-08 - Linear Regression from scratch in Julia 🡵</a></li>
    <li><a href="https://karthik-d-k.github.io/fastblog/numpy/2021/05/31/Bits_of_Numpy.html" target="_blank" rel="noopener noreferrer">2021-05-31 - Bits of Numpy 🡵</a></li>
</ul>

{% if paginator %}
<div class="accent-data">{% if paginator.previous %}<a href="{{ paginator.first }}">⥶</a> &nbsp <a href="{{ paginator.previous }}">
        << /a>{% endif %} &nbsp {{ paginator.current_index }} / {{ paginator.number_pagers }} &nbsp {% if paginator.next %}<a href="{{ paginator.next }}">></a> &nbsp <a href="{{ paginator.last }}">⥸</a>{% endif %}</div>
{% endif %}
{% endblock content %}
